{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/lib/(.*)$",
    "^@/fonts/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
